%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{erl_first_files,
    [
        "src/chronica_parser.erl",
        "src/pt_fun_trace.erl",
        "src/pt_chronica.erl"
    ]
}.

{erl_opts,
    [
        debug_info,
        warn_export_all,
        warning_as_error,
        {i, "include"},
        {src_dirs, ["src"]}
    ]
}.

{deps,
    [
        {meck,       ".*", {git, "https://github.com/eproxus/meck.git"}},
        {pt_scripts, ".*", {git, "https://github.com/eltex-ecss/pt_scripts.git"}}
    ]
}.

%% == xref ==

{xref_warnings, true}.

{xref_extra_paths,["./deps"]}.

%% xref checks to run
{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used, exports_not_used,
               deprecated_function_calls, deprecated_functions]}.
