{erl_first_files, ["src/chronica_parser.erl","src/pt_fun_trace.erl","src/pt_chronica.erl"]}.

{erl_opts, [encrypt_debug_info,
            warn_export_all,
            warning_as_error,
            {i, "include"},
            {src_dirs, ["src"]}
        ]}.

{deps,
 [
  {meck,          ".*", {git, "git@github.com:eproxus/meck.git"}},
  {pt_scripts,    ".*", {git, "git@github.com:eltex-ecss/pt_scripts.git"}}
 ]
}.

%% == xref ==

{xref_warnings, true}.

%% optional extra paths to include in xref:set_library_path/2.
%% specified relative location of rebar.config.
%% e.g. {xref_extra_paths,["../gtknode/src"]}
{xref_extra_paths,["./deps"]}.

%% xref checks to run
{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used, exports_not_used,
               deprecated_function_calls, deprecated_functions]}.

%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et