[
    {chronica,[
        {rules,[
            {testing_set_equal_rule1,       "testing1",                 debug,  [file_testing1], on},
            {testing_set_equal_rule2,       "testing1",                 debug,  [file_testing1], on},
            {testing_set_equal_rule3,       "testing1",                 debug,  [file_testing1], on},

            {testing_complex_rule1,         "t?s?i*&!*ing?|*ing2",      debug,  [file_testing2], on},

            {testing_on_off_rule1,             "testing3",                 debug,  [file_testing3], on},

            {testing_set_equal_flow1,       "testing4",                 debug,  [file_testing4_1, file_testing4_2, file_testing4_3], on},

            {testing_set_equal_rule_and_flow1,       "testing5",        debug,  [file_testing5_1, file_testing5_2, file_testing5_3], on},
            {testing_set_equal_rule_and_flow2,       "testing5",        debug,  [file_testing5_1, file_testing5_2, file_testing5_3], on},
            {testing_set_equal_rule_and_flow3,       "testing5",        debug,  [file_testing5_1, file_testing5_2, file_testing5_3], on},

            {testing_rising_log1,           "testing6",                 info,  [file_testing6], on}
        ]},
        {flows,[
            {file_testing1, [{file, "file_testing1.log", short}]},

            {file_testing2, [{file, "file_testing2.log", short}]},

            {file_testing3, [{file, "file_testing3.log", short}]},

            {file_testing4_1, [{file, "file_testing4.log", short}]},
            {file_testing4_2, [{file, "file_testing4.log", short}]},
            {file_testing4_3, [{file, "file_testing4.log", short}]},

            {file_testing5_1, [{file, "file_testing5.log", short}]},
            {file_testing5_2, [{file, "file_testing5.log", short}]},
            {file_testing5_3, [{file, "file_testing5.log", short}]},

            {file_testing6, [{file, "file_testing6.log", short}]}
        ]},
        {formats,[
            {short, "%PRIORITY %Message\n"}
        ]},
        {active, true},
        {detail_info, false},
        {tty_enabled, true},
        {log_root, "log"},
        {data_root, "./cache_<Node>/"},
        {max_file_size, 10485760},
        {max_file_num, 10},
        {colored, true}
    ]},

    {sasl, [
         {sasl_error_logger, false}
    ]}
].